#########################################
# /etc/systemd/system/speedtest.timer   #
#########################################
#                                       #
# Network quality monitor timer         #
#                                       #
#########################################

[Unit]
Description=Logs some system statistics to the systemd journal
Requires=speedtest.service

[Timer]
Unit=speedtest.service
OnCalendar={{ service_timer_calendar }}

[Install]
WantedBy=timers.target
