#########################################
# /etc/systemd/system/speedtest.timer   #
#########################################
#                                       #
# Network quality monitor timer         #
#                                       #
#########################################

[Unit]
Description=Network quality monitor timer
Requires=speedtest.service

[Timer]
Unit=speedtest.service
OnCalendar=*-*-* *:*:00

[Install]
WantedBy=timers.target
