#########################################
# /etc/systemd/system/speedtest.service #
#########################################
#                                       #
# Network quality monitor service       #
#                                       #
#########################################

[Unit]
Description=Network quality monitor service
Wants=speedtest.timer

[Service]
Type=oneshot
Environment=HOME=/app
ExecStart=/app/start.sh

[Install]
WantedBy=multi-user.target
